@import 'utils/mixins';
@import 'utils/vars';
@import 'header/header';
@import 'footer/footer';
@import './main/hero_screen/hero_screen';
@import './main/concerts/concerts';
@import './main/concerts/modal/modal';
@import './main/galery/galery';
@import './main/our_history/our_history';
@import './main/contact/contact';
@import './utils/keyframes';

* {
  transition: all 0.5s ease;
}

html {
  scroll-behavior: smooth;

}

body {
  margin: 0 auto;
  background-color: $background_color;
  font-family: 'IBM Plex Sans', sans-serif;
  color: $white_color;

  &:has(.burger__menu:target) {
    overflow: hidden;
  }

  &:has(.modal:target) {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
  color: $white_color;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-inline: 50px;
  display: flex;

  @include on-phone {
    margin-inline: 10px;
  }

  &--header {
    justify-content: space-between;
    max-width: 1440px;
  }

  &--burger {
    justify-content: center;
    margin: 0;
  }

  &--footer {
    justify-content: space-between;
  }

  &--hero_screen {
    padding-block: 100px;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

    @include on-phone {
      padding-block: 50px;
      align-items: center;
    }
  }

  &--concerts {
    flex-direction: column;
  }

  &--our_history {
    flex-direction: column;
  }

  &--contact {
    flex-direction: column;
  }
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button {
  background-color: #e91e63;
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

  &:hover {
  background-color: #ffeb3b; /* Жовтий колір при наведенні */
  color: #212121; /* Темний колір тексту для контрасту на жовтому фоні */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

&:active {
  background-color: #fdd835; /* Трохи темніший жовтий при натисканні */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(1px);
  color: #212121
}

&--hero {
  width: 300px;
}

&--concerts {
  font-size: 10px;
  color: $white_color;
  line-height: 10px;

  @include on-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -140%;
    right: -70%;
    width: 50%;
    font-size: 7px;
    border-radius: 50%;
  }
}

&--modal {
  font-size: 15px;
}

&--contact {
  width: 200px;
  color: $white_color;
  font-size: 12px;

  @include on-phone {
    width: 100%;
  }
}
}
