.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: $rows-color2;
    color: $white_color;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid $grey-color;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
}

.close-button {
    color: $grey-color;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover {
    color: red;
    text-decoration: none;
    cursor: pointer;
}


.ticket-form {
  input {
    width: 100%;
    padding: 10px;
    margin: 8px 0 16px ;
    display: inline-block;
    border: 1px solid $border-table;
    box-sizing: border-box;
    background-color: $rows-color;
    color: $white_color;
    border-radius: 4px;
}
}
