.galery {
  display: flex;
  margin-bottom: 50px;

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    h2 {
      margin-bottom: 40px;
    }

    .pictures_container {
      display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;

      .picture {
        width: 350px;
    background-color: #1c1c1c;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-5px);
    }

    &__wraper {
      width: 100%;
    padding-top: 75%;
    position: relative;
    display: inline-block;

    &::before {
  content: "";
  position: absolute;
  inset: -10px;
  border-radius: 16px;
  z-index: -1;
  background: radial-gradient(circle, #ff0 10%, #f80 40%, #f00 70%, transparent 100%);
  animation: flame-pulse 1s infinite alternate;
  filter: blur(20px);
}
    }

        span {
         text-align: center;
         padding: 15px 10px;
         font-size: 16px;
         color: $grey-color;
        }

        img {
          position: absolute;
           top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: fill;
          display: block;
    }
    }
  }
  }
}


