.header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-block: 20px;

  .nav {
    display: flex;
    gap: 20px;

    &--desktop {
      @include on-phone {
        display: none;
      }
    }

    &--burger {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }

    &__link {
      position: relative;
  color: $white_color;
  text-decoration: none;
  padding: 8px 12px;
  transition: color 0.3s ease;

  &::after {
  content: "";
  position: absolute;
  inset: -10px;
  border-radius: 8px;
  background: radial-gradient(circle, #ff0 10%, #f80 40%, #f00 70%, transparent 100%);
  opacity: 0;
  transition: opacity 0.3s ease;
  filter: blur(20px);
  z-index: -1;
}

    &:hover {
        color: gold;
    }

  &:hover::after {
  opacity: 1;
  animation: flame-pulse 1s infinite alternate;
}

      @include on-phone {
      font-size: 26px;
      line-height: 32px;
      }
    }
  }

  .burger_link {
    display: none;

    @include on-phone {
      display: block;
    }
  }

  .burger__menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0;
    height: 100vh;
    z-index: 2;
    transform: translateY(-100%);
    background-color: $background_color;
    pointer-events: none;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:target {
      opacity: 1;
      transform: translateY(0);
      pointer-events: all;
      overflow: hidden;
    }

    &_exit {
      position: fixed;
      right: 10px;
      top: 20px;
    }

  }
}
